
/* falls icons unten rechts blau bleiben sollen, folgendes .navbar-text entfernen: */
/* .navbar-text > a {
	color: inherit;
	text-decoration: none;
} */

body {
	padding-top: 70px;
	padding-bottom: 1000px;
}

/* .thumbnail{
    width: 300px;
    height: 500px;
    overflow: auto;
} */

.top-buffer { margin-top:20px; }

p, .btn{
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 ,h5, h6 {
	font-family: 'Oswald', sans-serif;
}

.navbar{
	background-color: #2C3E50;
	border-color: #FFFFFF;
	color: #FFFFFF;
}

.navbar-default .navbar-brand{
color:#FFFFFF
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #18BC9C;
	background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
	color:#FFFFFF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color:#FFFFFF;
	background-color: #1A242F;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
	color: #18BC9C;
	background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #FFFFFF;
	background-color: #1A242F;
}

.btn-primary{
	background-color: #2C3E50;
	border-color: #2C3E50;
	color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	color:#FFFFFF;
	background-color:#1E2A36;
	border-color:#161F29;
}


.btn-success{
	background-color: #18BC9C;
	border-color: #18BC9C;
	color: #FFFFFF;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
	color:#FFFFFF;
	background-color:#13987E;
	border-color:#13987E;
}


.btn-default{
	background-color: #18BC9C;
	border-color: #18BC9C;
	color: #FFFFFF;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle .btn-default {
	color:#FFFFFF;
	background-color:#7F9293;
	border-color:#74898A;
}

/* falls die transitions für die thumbnails nur auf der homepage sein sollen,
 dann folgendes aktivieren. ausserdem bei jedem image home-thumb
 im index.html schreiben, also class="thumbnail home-thumb":
.home-thumb img:hover{
	transform: scale(1.1);
} */


.thumbnail img:hover{
	transform: scale(1.1);
}

.thumbnail img:hover{
	transition: all 0.3s ease 0s;
	width:100%;
}

.thumbnail {
	overflow:hidden;
}

.bg_grey {
	background-color:#F9F9F9;
}


/* several versions for background: */

/* body { background: #000000 !important;} */
/* body { background: #CCCCB3 !important;}
/* body { background-image: url("../img/shipImage.jpg") !important;} */

/* body { 
	background-image: url("../img/shipImage.jpg") !important;
	background-attachment:fixed;
} */ 



#owna { 
	background-image: url("../img/shipImage.jpg") !important;
	background-attachment:fixed;
}

#owna1 { 
	background-image: url("../img/shipImage3.jpg") !important;
	background-attachment:fixed;
}

#owna2 { 
	background-image: url("../img/shipImage.jpg") !important;
	background-attachment:fixed;
}

#row1 {
	color:#FFFFFF;
}

/* #owna { 
	background-image: url("../img/shipImage.jpg") !important;
	background-attachment:fixed;
} */

/* .own { 
	background-image: url("../img/shipImage.jpg") !important;
	background-attachment:fixed;
	padding-top:100px;
	padding-bottom: 500px;
}  */

/* .own { 
	background-image: url("../img/shipImage.jpg") !important;
	background-attachment:fixed;
} */