<dom-module id="person-block">

    <template>
        <div class="jumbotron small-padding">
            <div class="row">
                <div class="col-sm-4">
                    <img src="https://avatars0.githubusercontent.com/u/{{profileid}}?v=3&s=200"/>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <label>Name:</label>
                        <p>{{name}}</p>
                    </div>
                    <div class="row">
                        <label>Age:</label>
                        <p>{{age}}</p>
                    </div>
                    <div class="row">
                        <label>Hobbies:</label>
                        <p>{{hobbies}}</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <label>Github:</label>
                        <p><a href="https://www.github.com/{{profilename}}">{{profilename}}</a>
                        </p>
                    </div>

                    <div class="row">
                        <label>Projects:</label>
                        <p>
                            <template is="dom-repeat" items="{{projects}}"
                                      as="project">
                                <template is="dom-if" if="{{hasLink(project)}}">
                                    <a href="{{project.link}}">{{project.name}}</a><span
                                        hidden$="{{isLast(index)}}">,</span>
                                </template>
                                <template is="dom-if"
                                          if="{{hasNoLink(project)}}">
                                    <span>{{project.name}}</span><span
                                        hidden$="{{isLast(index)}}">,</span>
                                </template>
                            </template>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <script>
        Polymer({
            is: "person-block",
            properties: {
                name: {
                    type: String
                },
                profileid: {
                    type: Number
                },
                profilename: {
                    type: String
                },
                age: {
                    type: Number
                },
                hobbies: {
                    type: String
                },
                projects: {
                    type: Array
                }
            },
            hasLink: function (project) {
                return typeof project.link !== 'undefined';
            },
            hasNoLink: function (project) {
                return typeof project.link === 'undefined';
            },
            isLast: function (index) {
                return this.projects.length - 1 === index;
            }
        });
    </script>

</dom-module>
