<div class="col-sm-12 jumbotron row">
    <div ng-if="waiting && !end" class="col-sm-12 waiting">Waiting for opponent</div>
    <div ng-if="!waiting && !end" class="col-sm-12 yourTurn">Your turn!</div>
    <div class="col-md-6 centerContent" ng-if="!placing">
        <h3>{{enemy || 'Opponent'}}'s field:</h3>
        <table id="opponentView" class="playboard center">
            <thead>
            <tr>
                <th>&nbsp;&nbsp;</th>
                <th style="text-align: center;" ng-repeat="i in [] | range:10">
                    {{i + 1}}
                </th>
            </tr>
            </thead>
            <tr ng-repeat="x in alphabet track by $index">
                <th>{{x}}</th>
                <td ng-repeat="i in [] | range:10">
                    <div class="card" ng-click="shoot(i, $parent.$index)"
                         ng-class="{
							'water': opponent[i][$parent.$index] == 'x',
							'hit': opponent[i][$parent.$index] == 'h',
							'miss': opponent[i][$parent.$index] == 'm',
							'ship': opponent[i][$parent.$index] == 's'
						 }">
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-6 centerContent">
        <h3>Your field:</h3>
        <table id="thisPlayerView" class="center">
            <thead>
            <tr>
                <th>&nbsp;&nbsp;</th>
                <th style="text-align: center;" ng-repeat="i in [] | range:10">
                    {{i + 1}}
                </th>
            </tr>
            </thead>
            <tr ng-repeat="x in alphabet track by $index">
                <th>{{x}}</th>
                <td ng-repeat="i in [] | range:10">
                    <div class="card"
                         ng-class="{
							'water': field[i][$parent.$index] == 'x',
							'hit': field[i][$parent.$index] == 'h',
							'miss': field[i][$parent.$index] == 'm',
							'ship': field[i][$parent.$index] == 's'
						 }">
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-6 centerContent" ng-if="placing">
        <h3>Place Menu:</h3>
        <table class="center">
            <thead>
            <th>Ship length</th>
            <th>&nbsp;|&nbsp;</th>
            <th>Orientation</th>
            <th>&nbsp;|&nbsp;</th>
            <th>Actions</th>
            </thead>
            <tr ng-repeat="(key, value) in ships">
                <td colspan="2">{{key}}</td>
                <td colspan="2">{{value.isPlaced ? (value.orientation ?
                    'horizontal' : 'vertical') : 'not set'}}
                </td>
                <td class="placeMenuPadding">
                    <button class="btn btn-warning"
                            ng-click="switchOrientation(key)"
                            ng-if="value.isPlaced">Rotate
                    </button>
                    <button class="btn btn-danger" ng-click="removeShip(key)"
                            ng-if="value.isPlaced">Remove
                    </button>
                    <button class="btn btn-primary" ng-click="placeShip(key)"
                            ng-if="!value.isPlaced">Place
                    </button>
                </td>
            </tr>
        </table>
        <div ng-if="!waiting">
            <button class="btn btn-play" ng-click="submitShips()">I am ready!
            </button>
        </div>
    </div>
    <div class="margin-top-10 col-sm-12">
        <button type="button" class="btn btn-primary pull-left" data-toggle="modal" data-target="#highscores" ng-if="savegames">Highscores</button>
        <button class="btn btn-play pull-right" ng-click="goBack();" ng-if="end">Go back!</button>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="highscores" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Highscores {{me}}</h4>
            </div>
            <div class="modal-body row">
                <div ng-if="!savegame.show" class="col-sm-12">
                    <div>Wins: {{wins ? wins : 0}} - Losses: {{savegames.length - wins}}</div>
                    <div class="list-group">
                        <button type="button" class="list-group-item" ng-click="showSavegame($index)" ng-repeat="savegame in savegames">
                            {{$index}} - {{me == savegame.player1Name ? savegame.player2Name : savegame.player1Name}}
                            <span ng-class="{'label label-danger': !savegame.hasWon,'label label-success': savegame.hasWon}">
                                {{savegame.hasWon ? 'WON' : 'LOST'}}
                            </span>
                        </button>
                    </div>
                </div>
                <div ng-if="savegame.show" class="col-sm-12">
                    <div ng-if="savegame.state" class="col-sm-12 yourTurn">You have won this battle</div>
                    <div ng-if="!savegame.state" class="col-sm-12 waiting">You have lost this battle</div>
                    <div class="col-md-6 centerContent">
                        <h3>Your field:</h3>
                        <table class="center">
                            <thead>
                            <tr>
                                <th>&nbsp;&nbsp;</th>
                                <th style="text-align: center;" ng-repeat="i in [] | range:10">
                                    {{i + 1}}
                                </th>
                            </tr>
                            </thead>
                            <tr ng-repeat="x in alphabet track by $index">
                                <th>{{x}}</th>
                                <td ng-repeat="i in [] | range:10">
                                    <div class="card"
                                         ng-class="{
                                            'water': savegame.self[i][$parent.$index] == 'x',
                                            'hit': savegame.self[i][$parent.$index] == 'h',
                                            'miss': savegame.self[i][$parent.$index] == 'm',
                                            'ship': savegame.self[i][$parent.$index] == 's'
                                         }">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6 centerContent">
                        <h3>{{savegame.opponentName || 'Opponent'}}'s field:</h3>
                        <table class="center">
                            <thead>
                            <tr>
                                <th>&nbsp;&nbsp;</th>
                                <th style="text-align: center;" ng-repeat="i in [] | range:10">
                                    {{i + 1}}
                                </th>
                            </tr>
                            </thead>
                            <tr ng-repeat="x in alphabet track by $index">
                                <th>{{x}}</th>
                                <td ng-repeat="i in [] | range:10">
                                    <div class="card"
                                         ng-class="{
                                            'water': savegame.opponent[i][$parent.$index] == 'x',
                                            'hit': savegame.opponent[i][$parent.$index] == 'h',
                                            'miss': savegame.opponent[i][$parent.$index] == 'm',
                                            'ship': savegame.opponent[i][$parent.$index] == 's'
                                         }">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="margin-top-10 col-sm-12">
                    <button class="btn btn-primary pull-left" ng-if="savegame.show" ng-click="hideSavegame()">Back</button>
                    <a class="btn btn-play" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>
