<div class="col-xs-12 jumbotron">
	<div class="col-xs-6">
		<h3>This player's view:</h3>
		<table id="thisPlayerView" class="playboard">
			<thead>
				<tr>
					<th>&nbsp;&nbsp;</th>
					<th style="text-align: center;" ng-repeat="i in [] | range:10">{{i + 1}}</th>
				</tr>
			</thead>
			<tr ng-repeat="x in alphabet track by $index">
				<th>{{x}}</th>
				<td ng-repeat="i in [] | range:10">
					<div class="card" ng-click="shoot(i, $parent.$index)"
						 ng-class="{
							'water': field[i][$parent.$index] == 'x',
							'hit': field[i][$parent.$index] == 'h',
							'miss': field[i][$parent.$index] == 'm',
							'ship': field[i][$parent.$index] == 's'
						 }">
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="col-xs-6" ng-if="placing">
		<table>
			<thead>
				<th>Ship length</th>
				<th>Orientation</th>
				<th>Actions</th>
			</thead>
			<tr ng-repeat="(key, value) in ships">
				<td>{{key}}</td>
				<td>{{value.isPlaced ? (value.orientation ? 'horizontal' : 'vertical') : 'not set'}}</td>
				<td>
					<button ng-click="switchOrientation(key)" ng-if="value.isPlaced">
						{{value.orientation ? 'Change to vertical' : 'Change to horizontal'}}
					</button>
					<button ng-click="removeShip(key)" ng-if="value.isPlaced">Remove</button>
					<button ng-click="placeShip(key)" ng-if="!value.isPlaced">Place</button>
				</td>
			</tr>
		</table>
		<div>
			<button ng-click="sendShips()">I am ready!</button>
		</div>
	</div>
	<div class="col-xs-6" ng-if="!placing">
		<div>
			<button ng-click="test()">uzgvuv</button>
		</div>
	</div>
</div>