@fontFam: 'Open Sans';
@headerFont: 'Oswald';

// images on the home site for the carousel
@shipImageHome1: '/assets/images/shipImage.jpg';
@shipImageHome2: '/assets/images/shipImage2.jpg';
@shipImageHome3: '/assets/images/shipImage3.jpg';

// variables for game field
@fieldHit: '/assets/images/field_hit.jpg';
@fieldMiss: '/assets/images/field_miss.jpg';
@fieldShip: '/assets/images/field_ship.jpg';
@fieldEmpty: '/assets/images/field_empty.jpg';

@navTextColor: #FFF;
@navhover: @playButtoon;
@bgcolor: #2C3E50;
@caribbeancolor: #42C0FB;

@playButtoon: #18BC9C;
@darkText: #1a1a1a;

@darkenRate: 10%;

body {
  padding: 0px 0px 50px 0px;
  font-family: @fontFam, sans-serif;
  background-color: @bgcolor;
}

#game-body {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #FFF;
  height: 100%;
  width: 100%;
}

.top-buffer {
  margin-top: 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @headerFont, sans-serif;
}

.navbar {
  background-color: @bgcolor;
  border-color: @navTextColor;
}

.navbar-brand {
  color: @navTextColor !important;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: @navhover;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: @navTextColor;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: @navTextColor;
  background-color: darken(@bgcolor, @darkenRate);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: @navhover;
  background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: @navTextColor;
  background-color: darken(@bgcolor, @darkenRate);
}

.btn-main {
  background-color: @bgcolor;
  color: @navTextColor;
}

.btn-main:hover,
.btn-main:focus,
.btn-main:active,
.btn-main.active,
.open .dropdown-toggle.btn-main {
  color: @navTextColor;
  background-color: darken(@bgcolor, @darkenRate);
}

.btn-play {
  background-color: @playButtoon;
  color: @navTextColor;
}

.btn-play:hover,
.btn-play:focus,
.btn-play:active,
.btn-play.active,
.open .dropdown-toggle.btn-play {
  color: @navTextColor;
  background-color: darken(@playButtoon, @darkenRate);
  border-color: darken(@playButtoon, @darkenRate);
}

.thumbnail {
  overflow: hidden;
  img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease 0s;
    width: 100%;
  }
}

#thumbnails {
  color: #FFF;
}

.lightBlue {
  color: @caribbeancolor;
}

.carousel {
  z-index: -1;
  height: 100%;
}

.carousel .item {
  position: fixed;
  width: 100%;
  height: 100%;
}

.carousel .active.left {
  left: 0;
  opacity: 0;
  z-index: 2;
}

.slide1, .slide2, .slide3 {
  min-height: 560px;
  background-size: cover;
  height: 100%;
}

.slide1 {
  background-image: url(@shipImageHome1);
}

.slide2 {
  background-image: url(@shipImageHome2);
}

.slide3 {
  background-image: url(@shipImageHome3);
}

.carousel.carousel-fade .item {
  transition: opacity 1s linear;
  opacity: 0;
}

.carousel.carousel-fade .active.item {
  opacity: 1;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}

.carousel-overlay {
  position: absolute;
  bottom: 100px;
  right: 0;
  left: 0;
  height: 100%;
}

.lightText {
  color: @navTextColor;
}

.darkText {
  color: @darkText;
}

.imagesizeLogin {
  width: 204px;

}

.playboard {
  cursor: crosshair;
}

;

.card {
  width: 30px;
  height: 30px;
  margin: 2px;
  border-radius: 3px;
}

.water {
  background: url(@fieldEmpty) no-repeat;
  background-size: cover;
}

.hit {
  background: url(@fieldHit) no-repeat;
  background-size: cover;
}

.miss {
  background: url(@fieldMiss) no-repeat;
  background-size: cover;
}

.ship {
  background: url(@fieldShip) no-repeat;
  background-size: cover;
}

.placeMenuPadding {
  padding: 1px 0px;
}

.topContainer {
  margin-top: 62px;
}

.small-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.waiting {
  padding: 15px 0px;
  text-align: center;
  font-size: 24px;
  background-color: #f0ad4e;
  border: 2px solid darken(#f0ad4e, 10%);
  border-radius: 10px;
}

.yourTurn {
  padding: 15px 0px;
  text-align: center;
  font-size: 24px;
  background-color: #00c853;
  border: 2px solid darken(#00c853, 10%);
  border-radius: 10px;
}

google-map {
  height: 600px;
}

.blue {
  background: #03a9f4;
}

.centerContent {
  text-align: center;
}

.presentationListing {
  text-align: left;
  font-size: 30px;
  padding-left: 200px;
  padding-top: 50px;
}

.presentationCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
