@(username: String)

@main("Battleship")(username) {
    <link rel="import" href="/assets/partials/polymer/person.html">
    <link rel="import" href="/bower/google-map/google-map.html">
}{
    <div class="container topContainer">
        <person-block name="Moritz Sauter" profileid="9122366" profilename="mosauter" age="20" hobbies="Judo, Chess, Programming" projects='[{"name": "Battleship", "link": "https://github.com/mosauter/Battleship"},{"name": "Battleship Web", "link": "https://github.com/mosauter/WT_Battleship"}]'></person-block>
        <person-block name="Pavandeep Singh" profileid="7023308" profilename="p1206-htwg" age="24" hobbies="Swimming, Soccer, IT" projects='[{"name": "Battleship Web", "link": "https://github.com/mosauter/WT_Battleship"},{"name": "SetGame"},{"name": "UNO"},{"name": "fortuneCookie"}]'></person-block>
        @*"Battleship, SetGame, UNO, fortuneCookie"*@
        <person-block name="Felix Wiedenbach" profileid="9334168" profilename="fewieden" age="23" hobbies="Soccer, Cycling, Traveling" projects='[{"name": "Battleship Web", "link": "https://github.com/mosauter/WT_Battleship"},{"name": "Nine Mens Morris"}]'></person-block>
        @*"Battleship (WUI), Nine Men"s Morris (TUI, GUI)"*@
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-4">
                    <a href="http://www.htwg-konstanz.de">
                        <img src="/assets/images/htwg-logo.png" alt="HTWG Konstanz Logo" width="200" height="200"/>
                    </a>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <label>University</label>
                        <p>HTWG Konstanz</p>
                    </div>
                    <div class="row">
                        <label>Street/Number</label>
                        <p>Brauneggerstrasse 55</p>
                    </div>
                    <div class="row">
                        <label>Postcode/City</label>
                        <p>78462 Konstanz</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <label>Department</label>
                        <p>Computer Science</p>
                    </div>
                    <div class="row">
                        <label>Bachelor Program</label>
                        <p>Applied Computer Science</p>
                    </div>
                    <div class="row">
                        <label>Professor</label>
                        <p>Prof. Dr. Marko Boger</p>
                    </div>
                </div>
            </div>
            <div>
                <google-map fit-to-markers zoom="13">
                    <google-map-marker latitude="47.667607" longitude="9.171907" title="HTWG Konstanz"></google-map-marker>
                </google-map>
            </div>
        </div>
    </div>
}
