@(username: String)

@main("Battleship")(username) {


<div id="game-body" ng-app="battleship">
    <div class="container">
        <div class="page-header">
            <h1> Battleship Headquarters </h1>
            <google-map latitude="47.6744" longitude=" 9.1649" zoom="12">
                <google-map-marker latitude="47.66765" longitude="9.1718"
                                   draggable="true" title="Battleship Enterprises Headquarters"></google-map-marker>
            </google-map>


        </div>
    </div>
</div>
}



