@(username: String)

@main("Battleship")(username) {
    <div class="container topContainer">
        <person-block name="Moritz Sauter" profileid="9122366" profilename="mosauter" age="20" hobbies="Judo, Chess, Programming" projects="Battleship"></person-block>
        <person-block name="Pavandeep Singh" profileid="7023308" profilename="p1206-htwg" age="24" hobbies="Swimming, Soccer, IT" projects="Battleship, SetGame, UNO, fortuneCookie"></person-block>
        <person-block name="Felix Wiedenbach" profileid="9334168" profilename="fewieden" age="23" hobbies="Soccer" projects="Battleship, Mill"></person-block>
    </div>
}
