

@main("Chat room") {
<br>
<br>
<br>

<script>
            $(function () {
                $('.carousel').carousel({
                    //interval: 5000 // for development needs...
                    interval: 20000
                });
            });
    </script>

<div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="chatslide1"></div>
        </div>
        <div class="item">
            <div class="chatslide2"></div>
        </div>
        <div class="item">
            <div class="chatslide3"></div>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="whitetext">Welcome to Battlegame's chatroom!</h1>
    <br>
    <div class="transparentSemi jumbotron whitetext col-sm-10">
        <input type="text" class="form-control" id="socket-input" placeholder="your message" />
        <div id="socket-messages"></div>
        <script type="text/javascript" charset="utf-8" src="@routes.Application.wsJs()"></script>
    </div>
</div>
}
