@(username: String)

@main("Battleship")(username) {

    <div id="game-body" ng-app="battleship">
        <div class="container">
            <div class="page-header">

                <h1> Google Sign in </h1>
                <br>
                <template id="awareness" is="dom-bind">

                    <p>Test normal sign in and sign out with this button:</p>
                    <google-signin brand="google-plus" client-id="188113288901-8frgm8jcejcq6t0imu2laingj161p9qv.apps.googleusercontent.com"></google-signin>
                    </p>
                    <p>Test sign in, sign out with disconnection with this button:</p>
                    <google-signin on-click="disconnect"></google-signin>
                    <br>
                    <br>
                    <google-signin-aware
                            scopes="{{scope}}"
                            signed-in="{{signedIn}}"
                            offline="{{offline}}"
                            is-authorized="{{isAuthorized}}"
                            need-additional-auth="{{needAdditionalAuth}}"
                            on-google-signin-aware-success="handleSignIn"
                            on-google-signin-aware-signed-out="handleSignOut"></google-signin-aware>
                    <!--<p>User name: <span>{{userName}}</span></p>-->
                    <h4><span>{{hello}}</span></h4>
                    <h4>Your current login status with google sign in is <span>{{status}}</span>.</h4>
                    <p></p>

                </template>

                <br>
                <br>

                <h1> Google Hangout Button </h1>
                <google-hangout-button></google-hangout-button>
            </div>
        </div>
    </div>

    <script>
        var aware = document.querySelector('#awareness');
        aware.status = '"not granted"';
        aware.userName = 'Please log in!';
        aware.handleSignIn = function(response) {
          this.status = '"signin granted"';
          this.userName = gapi.auth2.getAuthInstance().currentUser.get().getBasicProfile().getName();
          this.hello = "Hello, " + gapi.auth2.getAuthInstance().currentUser.get().getBasicProfile().getName() +"! How are you doing?";
        };

        function myDisconnect() {
          var b = document.querySelector('google-signin');
          var currentUser = gapi.auth2.getAuthInstance().currentUser.get();

          if (currentUser) {
            currentUser.disconnect();
          }
          gapi.auth2.getAuthInstance().signOut();
        };

        aware.disconnect = function() {
          var b = document.querySelector('google-signin');
          var currentUser = gapi.auth2.getAuthInstance().currentUser.get();

          if (currentUser) {
            currentUser.disconnect();
          }
          gapi.auth2.getAuthInstance().signOut();
        };

        aware.handleSignOut = function(response) {
          this.status = '"signed out"';
          this.userName = 'Not logged in anymore!';
          this.hello = '';
          myDisconnect();
        };


      </script>
}



