@(username: String)

@main("Battleship")(username) {


<div id="game-body" ng-app="battleship">
    <div class="container">
        <div class="page-header">
            <h1> Google Sign in </h1>

            <!--<p><google-signin ></google-signin>-->

            <template id="awareness" is="dom-bind">
                <google-signin brand="google-plus" client-id="188113288901-8frgm8jcejcq6t0imu2laingj161p9qv.apps.googleusercontent.com"></google-signin>
                </p>
                <google-signin-aware
                        scopes="{{scope}}"
                        signed-in="{{signedIn}}"
                        offline="{{offline}}"
                        is-authorized="{{isAuthorized}}"
                        need-additional-auth="{{needAdditionalAuth}}"
                        on-google-signin-aware-success="handleSignIn"
                        on-google-signin-offline-success="handleOffline"
                        on-google-signin-aware-signed-out="handleSignOut"></google-signin-aware>
                <p>User name: <span>{{userName}}</span></p>
                <p><span>{{hello}}</span></p>
                <p>Your login status with google sign in is <span>{{status}}</span> </p>
                <p></p>
                <!--<p><button on-click="disconnect">Disconnect to start over</button></p>-->
            </template>
            <script>
    var aware = document.querySelector('#awareness');
    aware.status = '"not granted"';
    aware.offlineCode = 'No offline login.';
    aware.userName = 'Please log in!';
    aware.handleSignIn = function(response) {
      this.status = '"signin granted"';
      // console.log('[Aware] Signin Response', response);
      this.userName = gapi.auth2.getAuthInstance().currentUser.get().getBasicProfile().getName();
      this.hello = "Hello " + gapi.auth2.getAuthInstance().currentUser.get().getBasicProfile().getName() +"! How are you doing?";
    };
    aware.handleOffline = function(response) {
      this.offlineCode = response.detail.code;
    };
    aware.handleSignOut = function(response) {
      this.status = '"signed out"';
      // console.log('[Aware] Signout Response', response);
      this.userName = 'Not logged in anymore!';
      this.hello = '';
    };
    aware.disconnect = function() {
      var b = document.querySelector('google-signin');
      var currentUser = gapi.auth2.getAuthInstance().currentUser.get();

      if (currentUser) {
        currentUser.disconnect();
      }
      gapi.auth2.getAuthInstance().signOut();
    };
  </script>









            <h1> Google Hangout Button </h1>

                 <google-hangout-button></google-hangout-button>

        </div>
    </div>
</div>
}



