@(username: String)

@main("Battleship")(username) {
    <link rel="import" href="/assets/partials/polymer/content-block.html">
}{
    <script>
            $(function () {
                $('.carousel').carousel({
                    //interval: 5000 // for development needs...
                    interval: 20000
                });
            });
    </script>

    <div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="slide1"></div>
            </div>
            <div class="item">
                <div class="slide2"></div>
            </div>
            <div class="item">
                <div class="slide3"></div>
            </div>
        </div>
    </div>

    <div class="container topContainer">
        <div class="jumbotron text-center">
            <h1>Welcome to Battleship!</h1>

            <p>This is an awesome game!</p>
            <a href="/about" class="btn btn-main">About us</a>
            <a href="/game" class="btn btn-play">Play</a>
        </div>

        <div class="row" id="thumbnails">
            <content-block link="/about" image="/assets/images/shipImage.jpg"
            imageAlt="ship" heading="About us"
            teaser="Learn more about the game and its developers.">
            </content-block>

            <content-block link="/game" image="/assets/images/shipImage2.jpg"
            imageAlt="ship" heading="Play"
            teaser="Play the game.">
            </content-block>

            <content-block link="/instructions" image="/assets/images/shipImage3.jpg"
            imageAlt="ship" heading="Instructions"
            teaser="Learn how to play and the rules of our realisation of Battleship.">
            </content-block>
        </div>

    </div>
    <div class="container well top-buffer">
        <h3>About this site:</h3>

        <p> This site is built with bootstrap and contains:</p>
        <li class="dropup">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Features <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">menu</a></li>
                <li><a href="#">footer</a></li>
                <li><a href="#">thumbnails</a></li>
                <li><a href="#">bootstrap grid layout</a></li>
                <li><a href="#">font awesome symbols</a></li>
                <li><a href="#">google fonts: open sans</a></li>
                <li><a href="#">google fonts: oswald</a></li>
                <li><a href="#">hovers</a></li>
                <li><a href="#">focus</a></li>
                <li><a href="#">image transition effects</a></li>
                <li><a href="#">linked pages</a></li>
                <li><a href="#">responsiveness</a></li>
                <li><a href="#">auto form highlight</a></li>
                <li><a href="#">auto form highlight</a></li>
                <li class="divider"></li>
                <li><a href="#">and much more!</a></li>
            </ul>
        </li>
    </div>
}
