@(username: String)
@main("Battleship")(username) {
    <div class="container lightText">
        <h1 style="margin-top: 15%">How would you like to login?</h1>
        <div class="row darkText">
            <div class="col-lg-10 jumbotron">

                <div class="col-lg-5 darkText">
                    <br>Click to login with Google (OpenID Connect):<br>
                    <a href="/game" class="thumbnail imagesizeLogin"><img src="/assets/images/google_icon.png" alt="google icon"></a>
                    <br>
                </div>
            </div>
        </div>
        <div class="row">
            <br> Click here to logout:<br>
            <a href="/logout?url=/">Logout</a>
            <br><br>
        </div>
    </div>
}
