@(loginForm: Form[_])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }
@import com.feth.play.module.pa.views.html._

@main(Messages("playauthenticate.login.title"),"login") {

  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <h1>@Messages("playauthenticate.login.title")</h1>
    </div>
  </div>

  <div id="login" class="row">


       <div class="col-xs-6 col-sm-4">
          @Messages("playauthenticate.login.oauth")
          @* Display list of available providers *@
          @_providerPartial(skipCurrent=false)
          @providerAvailable("basic") { available: Boolean =>
              @if(available) {
                  <br>
                  <a href="@com.feth.play.module.pa.controllers.routes.Authenticate.authenticate("basic")">@Messages("playauthenticate.login.basic")</a>
              }
          }
        </div>

  </div>

}

