@main("Battleship")("Login") {
    <div class="container lightText">
        <h1 style="margin-top: 15%">How would you like to login?</h1>
        <div class="row darkText">
            <div class="col-lg-10 jumbotron">

                <div class="col-lg-5 darkText">
                    <br>Click to login with Google (OpenID Connect) :<br>
                    <a href="/game" class="thumbnail imagesizeLogin"><img src="/assets/images/google_icon.png" alt="google icon"></a>
                    <br>
                </div>
                @*<div class="col-lg-5 bl">
                <br>Click to login with Facebook : <br>
                <a href="facebook/login.html">facebook/login.html</a>
                <a href="facebook/login.html" class="thumbnail imagesizeLogin img-responsive"><img src="/assets/images/fb_sq_T.png" alt="facebook icon" width="304" height="236"/></a>
                </div>*@
            </div>
        </div>
        <div class="row">
            <br> Click here to logout:<br>
            <a href="/logout?url=/">Logout</a>
            <br><br>
        </div>
    </div>
}
