@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <meta charset="UTF-8">
        <meta name="author" content="Moritz Sauter, Felix Wiedenbach, Pavan Singh">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/stylesheets/main.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        @content

        <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation/foot">
            <div class="container">
                <div class=" navbar-text pull-left">
                    <p>© A project by <a href="http://www.htwg-konstanz.de">HTWG Konstanz</a></p>
                </div>
                <div class="navbar-text pull-right">
                    <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                    <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                    <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>

                </div>
            </div>
        </div>

        <div class="modal fade" id="contact" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Contact</h4>
                    </div>
                    <div class="modal-body">
                        <p>For general inquiries please email one of the following:</p>
                        <ul>
                            <li>pasingh&#64;htwg-konstanz.de</li>
                            <li>fewieden&#64;htwg-konstanz.de</li>
                            <li>mosauter&#64;htwg-konstanz.de</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-play" data-dismiss="modal">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
