@(title: String, nav: String = "")(content: Html)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import play.api.libs.json._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._


<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <meta charset="UTF-8">
        <meta name="author" content="Moritz Sauter, Felix Wiedenbach, Pavandeep Singh">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/stylesheets/main.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="/assets/javascripts/websocket.js"></script>
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Battleship</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admins & Co <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Admin & Dashboard</li>
                                <li><a href="#">Moritz</a></li>
                                <li><a href="#">Felix</a></li>
                                <li><a href="#">Pavan</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Image sources</li>
                                <li><a href="#">Ship1</a></li>
                                <li><a href="#">Ship2</a></li>
                            </ul>
                        </li>
                        <li><a href="#contact" data-toggle="modal">Contact</a></li>
                        <li class="@("active".when(nav == ""))"><a href="@routes.Application.index()">("playauthenticate.navigation.home")</a></li>
                        <li class="@("active".when(nav == "restricted"))"><a href="@routes.Application.restricted()">("playauthenticate.navigation.restricted")</a></li>

                        @subjectNotPresent() {
                             <li class="@("active".when(nav == "signup"))"><a href="@routes.Application.signup()">("playauthenticate.navigation.signup")</a></li>
                        }
                    </ul>

                    @subjectPresentOr() {
                        <ul class="nav navbar-nav navbar-right">
                            @defining(Application.getLocalUser(session())) { user =>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> @user.name <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="@("active".when(nav == "profile"))"><a href="@routes.Application.profile()">("playauthenticate.navigation.profile")</a></li>
                                    <li><a href="@routes.Account.link()">("playauthenticate.navigation.link_more")</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()"><i class="icon-off"></i> ("playauthenticate.navigation.logout")</a></li>
                                </ul>
                            </li>
                            }
                        </ul>
                    } {
                        <a href="@routes.Application.login()" class=" navbar-right btn btn-default navbar-btn @("disabled".when(nav == "login"))">("playauthenticate.navigation.login")</a>
                    }


                </div>
            </div>
        </div>

        <div class="container">
            @if(flash.contains(Application.FLASH_ERROR_KEY)) {
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">
                            Close</span></button>
                    @flash().get(Application.FLASH_ERROR_KEY)
                </div>
            }
            @if(flash.contains(Application.FLASH_MESSAGE_KEY)) {
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">
                            Close</span></button>
                    @flash().get(Application.FLASH_MESSAGE_KEY)
                </div>
            }

        @content

        </div>

        <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation/foot">
            <div class="container">
                <div class=" navbar-text pull-left">
                    <p>© A project by <a href="http://www.htwg-konstanz.de">HTWG Konstanz</a></p>
                </div>
                <div class="navbar-text pull-right">
                    <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                    <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                    <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>

                </div>
            </div>
        </div>

        <div class="modal fade" id="contact" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Contact</h4>
                    </div>
                    <div class="modal-body">
                        <p>For general inquiries please email one of the following:</p>
                        <ul>
                            <li>pasingh&#64;htwg-konstanz.de</li>
                            <li>fewieden&#64;htwg-konstanz.de</li>
                            <li>mosauter&#64;htwg-konstanz.de</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-play" data-dismiss="modal">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
