@(title: String)(username: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <meta charset="UTF-8">
        <meta name="author" content="Moritz Sauter, Felix Wiedenbach, Pavandeep Singh">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/stylesheets/main.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.min.js"></script>
        <script src="https://cdn.rawgit.com/gdi2290/angular-websocket/v1.0.9/angular-websocket.min.js"></script>
        <script src="/assets/javascripts/app.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <link rel="import" href="/bower/polymer/polymer.html">
        <link rel="import" href="/assets/partials/polymer/content-block.html">

        <script src="/bower/webcomponentsjs/webcomponents.js"></script>
        <link rel="import" href="/bower/google-map/google-map.html">
        <link rel="import" href="/bower/google-hangout-button/google-hangout-button.html">

    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home">Battleship</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="/home">Home</a></li>
                        <li><a href="/game">About</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Admins & Co <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Admin & Dashboard</li>
                                <li><a href="#">Moritz</a></li>
                                <li><a href="#">Felix</a></li>
                                <li><a href="#">Pavan</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Image sources</li>
                                <li><a href="#">Ship1</a></li>
                                <li><a href="#">Ship2</a></li>
                            </ul>
                        </li>
                        <li><a href="#contact" data-toggle="modal">Contact</a></li>
                        <li><a href="/login" data-toggle="modal">@username</a></li>
                    </ul>
                </div>
            </div>
        </div>

        @content

        <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation/foot">
            <div class="container">
                <div class=" navbar-text pull-left">
                    <p>© A project by <a href="http://www.htwg-konstanz.de">
                        HTWG Konstanz</a></p>
                </div>
                <div class="navbar-text pull-right">
                    <a href="http://www.facebook.com"><i class="fa fa-facebook-square fa-2x"></i></a>
                    <a href="http://www.twitter.com"><i class="fa fa-twitter fa-2x"></i></a>
                    <a href="http://www.google.de"><i class="fa fa-google-plus fa-2x"></i></a>

                </div>
            </div>
        </div>

        <div class="modal fade" id="contact" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Contact</h4>
                    </div>
                    <div class="modal-body">
                        <p>For general inquiries please email one of the following:</p>
                        <ul>
                            <li>pasingh&#64;htwg-konstanz.de</li>
                            <li>fewieden&#64;htwg-konstanz.de</li>
                            <li>mosauter&#64;htwg-konstanz.de</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-play" data-dismiss="modal">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
