@(username: String)

@main("Battleship")(username) {
    <link rel="import" href="/assets/partials/polymer/presentation.html">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
} {
    <div class="container topContainer">
        <presentation-page slides='[
    {
        "heading": "HEAD",
        "number": 0,
        "components": [
            {
                "type": "CODE",
                "load": "codeother.java"
            },
            {
                "type": "TEXT",
                "load": "slide-1.html"
            }
        ]
    },
    {
        "heading": "HEAD",
        "number": 1,
        "components": [
            {
                "type": "TEXT",
                "load": "slide-1.html"
            }
        ]
    },
    {
        "heading": "HEAD",
        "number": 2,
        "components": [
            {
                "type": "CODE",
                "load": "code.java"
            }
        ]
    }
]' start="0"></presentation-page>
    </div>
}
