@(username: String)

@main("Battleship")(username) {
    <link rel="import" href="/assets/partials/polymer/presentation.html">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
} {
    <div class="container topContainer">
        <presentation-page base-link="/assets/presentation/architecture/" slides='[
  {
    "heading": "",
    "number": 0,
    "type": "TITLE",
    "components": [
      {
        "type": "TEXT",
        "load": "slides/title.html"
      }
    ]
  },
  {
    "heading": "Outline",
    "number": 1,
    "components": [
      {
        "type": "TEXT",
        "load": "slides/outline.html"
      }
    ]
  },
  {
    "heading": "Hibernate",
    "number": 2,
    "components": [
      {
        "type": "TEXT",
        "load": "slides/hiber/hiber_1.html"
      },
      {
        "type": "CODE",
        "load": "code/hibernateImpl.java"
      }
    ]
  },
  {
    "heading": "Hibernate",
    "number": 3,
    "components": [
      {
        "type": "CODE",
        "load": "code/hibernateSave.java"
      }
    ]
  },
  {
    "heading": "Actor System",
    "number": 4,
    "components": [
      {
        "type": "TEXT",
        "load": "slides/actor/actor_1.html"
      }
    ]
  },
  {
    "heading": "Actor System",
    "number": 5,
    "components": [
      {
        "type": "CODE",
        "load": "code/winner.scala"
      }
    ]
  },
  {
    "heading": "Actor System",
    "number": 6,
    "components": [
      {
        "type": "TEXT",
        "load": "slides/actor/actor_2.html"
      },
      {
        "type": "CODE",
        "load": "code/staticConfig.scala"
      }
    ]
  },
  {
    "heading": "Actor System",
    "number": 7,
    "components": [
      {
        "type": "TEXT",
        "load": "slides/actor/actor_3.html"
      },
      {
        "type": "CODE",
        "load": "code/aggrFutures.scala"
      }
    ]
  },
  {
    "heading": "Actor System",
    "number": 8,
    "components": [
      {
        "type": "TEXT",
        "load": "slides/actor/messages.html"
      },
      {
        "type": "CODE",
        "load": "code/messages.scala"
      }
    ]
  },
  {
    "heading": "Visual VM",
    "number": 9,
    "components": [
      {
        "type": "TEXT",
        "load": "slides/visual/visual_1.html"
      }
    ]
  },
  {
    "heading": "Visual VM",
    "number": 10,
    "components": [
      {
        "type": "TEXT",
        "load": "slides/visual/visual_2.html"
      }
    ]
  },
  {
    "heading": "Finish",
    "number": 11,
    "type": "TITLE",
    "components": [
      {
        "type": "TEXT",
        "load": "slides/finish.html"
      }
    ]
  }
]'></presentation-page>
    </div>
}
